
@media screen and (max-width: 767px) {
.home_bg {
    background: url(../images/home_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.logo a {
    width: 70%;
    padding: 0px;
    max-width: 203px;
}
.main_hd h1 span img {
    max-width: 275px;
}
.home_bg .btn_bud a {
    min-height: 72px;
    max-width: 180px;
}
.home_bg .home_main {
    background-size: 46%;
}
.box_cust h4 {
    display: none;
}
.box_cust a {
    width: 50px;
    height: 50px;
}
.box_cust {
    position: absolute;
    right: 4px;
    bottom: 47px;
    max-width: 205px;
}
.home_bg .home_main {
        background-size: 175px;
}
.bx_cap img {
    width: 194px;
    top: -43px;
}
}

@media (max-width: 767px)  and (min-width: 500px) {
.home_bg .logo a {
    width: 70%;
    padding: 0px;
    max-width: 203px;
    margin: 0;
}
.home_bg .home_main {
    background-size: 124px;
}
}

@media (max-width: 991px)  and (min-width: 768px) { 
.home_bg  .logo a {
    width: 370px;
	}
.main_hd h1 span img {
    max-width: 578px;
}
.home_bg {
    background: url(../images/home_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.bx_cap img {
    width: 396px;
}
}

.deleteBox .modal-dialog.modal-sm .modal-content .modal-footer button#close {
    float: left;
    width: 48%;
    text-align: center;
    padding: 3px;
    font-size: 30px;
    background-color: #7f191e;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
}
.deleteBox .modal-dialog.modal-sm .modal-content .modal-footer a {
    float: left;
    width: 48%;
    text-align: center;
    padding: 3px;
    font-size: 30px;
    background-color: #7f191e;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    margin-right: 1%;
    margin-left: 1%;
}
.deleteBox .modal-dialog.modal-sm .modal-content .modal-footer {
    border: none;
    text-align: left;
}
.deleteBox .modal-dialog.modal-sm .modal-content .modal-body {
    color: #Fff;
    text-align: center;
}
.deleteBox .modal-dialog.modal-sm .modal-header {
    min-height: 0px;
    padding: 0;
    border: none;
}
.deleteBox .modal-dialog.modal-sm .modal-content {
    min-width: 400px;
    border: none;
    /* border-radius: 0px; */
    background-color: #863033;
    box-shadow: none;
}
.deleteBox .modal-dialog.modal-sm {
    margin-top: 20%;
    border-radius: 0px;
    min-width: 400px;
}
.deleteBox .modal-dialog.modal-sm .modal-content .modal-footer a:hover {
    background-color: #631317;
}
.deleteBox .modal-dialog.modal-sm .modal-content .modal-footer button#close:hover {
    background-color: #631317;
}
.deleteBox .modal-dialog.modal-sm .modal-header button.close {
    display: none;
}
.order_conf .logo a {
    cursor: default;
}