a,a:hover {text-decoration:none;}
img { max-width:100%; vertical-align:middle; }
*, *:focus, .btn:focus, button:focus, a:focus, form:focus {outline:none !important;}
a, .btn, button {
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	}
html {
	width: 100%;
	overflow-x: hidden;
	height: 100%;
	}
body {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot') format('embedded-opentype'),
         url('../fonts/Helvetica.woff2') format('woff2'),
         url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.svg#Helvetica') format('svg');
}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold.woff2') format('woff2'),
         url('../fonts/HelveticaBold.woff') format('woff'),
         url('../fonts/HelveticaBold.ttf') format('truetype'),
         url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}





.home_bg{
	background:url(../images/home_bg.jpg) no-repeat;
	background-size:100% 100%;
    background-position:100%;
    height:100%;
 	}
.logo {
    text-align:center;
	}
section.home_main {    
    padding: 30px 0px 10px;
    height: 100%;
	}

.home_bg .home_main{
    background:url(../images/alu-bottles-true-center.png) no-repeat;
    background-size: cover;
    background-size:22%;
    height: 100%;
    background-position: bottom center;
    }
.logo a{
   display: inline-block;
    width: 25%;
    padding: 10px 15px;
     margin: 20px 0px;
     }
.main_hd h1 {
    font-size:80px;
    color: #fff;
    text-align: center;
    font-weight: 600;
	}
.main_hd h1 span {
    display:block;
	}
.main_hd h1 span img {
    max-width:38%;
	}
.btn_bud a {
    background:#7d171e;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:260px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:78px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
	}


.home_bg .btn_bud a {
background: url(../images/budstation-btn.png) no-repeat;
/* display: inline-block; */
/* padding: 12px 25px 10px; */
/* border-radius: 8px; */
max-width: 24%;
background-position: top;
/* width: 100%; */
text-align: center;
color: #da9e56;
font-size: 16px;
font-weight: 600;
background-size: 100%;
transition: all 300ms ease-in-out;
-webkit-transition: all 300ms ease-in-out;
min-height: 133px;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
position: relative;
top: -58px;
}

    
/*.home_bg .btn_bud a {
     background:url(../images/budstation-btn.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    }*/
.home_bg .btn_bud a:hover {
    background:url(../images/budstation-btn-hover.png) no-repeat;
    background-size: 100%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    }

html body .offerbtn{
      background:url(../images/btn_offer.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%;
}

html body #firstcombo{
      background:url(../images/btn_combo.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%;
}
html body #secondvenues{
      background:url(../images/btn_redio.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%;
}
html body #thirdmenu{
      background:url(../images/btn_menu.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%;
}

html body #submit_order {
    background: url(../images/btn_menu.png) no-repeat;
    display:inline-block;
    padding:12px 25px 10px;
    border-radius:8px;
    max-width:247px;
    width:100%;
    text-align:center;
    color:#da9e56;
    font-size:16px;
    font-weight:600;
    height:66px;
    background-size: 100%; 
    margin: 0px auto;
    border: none;
    }
span.percentage {
    display: block;
    font-size: 14px !important;
    }
span.person {
    font-size:11px;
    font-weight:700;
    }
.btn_bud {
	text-align:center;
    position:absolute;
    left:0px;
    right:0px;
    bottom:50px;
	}
.btn_bud img {
    max-width: 190px;
    display: block;
    margin: 0px auto 5px;
	}
.box_cust {
	position: absolute;
    right: 25px;
    bottom: 25px;
    max-width: 205px;
    color: #fff;
    background: url(../images/img_arrow.png) no-repeat;
    background-size: 65px;
    background-position: 90px 0px;
    padding-top: 20px;
	}
.home_pos {
    position: relative;
    height: 100%;
	}
.box_cust h4 {
	width:70%;
    float:left;
    text-align:right;
    padding-right:10px;
    font-size:16px;
    line-height:18px;	
    }
.box_cust a {
    background:#7d181e;
    display:flex;
    width:60px;
    height:60px;
    border-radius:100%;
    align-items: center;
    justify-content: center;
    float: right;
	}
.box_cust a img {
    width: 60%;
	}




/**2nd Page**/


.box_comn {
	background: #dc1e32;
	}

	
#msform {
	max-width: 1170px;
    margin:20px auto 50px;
    text-align:center;
    position:relative;
    width:100%;   
	}
#msform fieldset {
    border: 0 none;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin:0px auto 25px;
    position:inherit !important; 
	top:0px !important;
    max-width:1170px;	
	float:left !important;
	}
#msform fieldset:not(:first-of-type) {
	display: none;
}
#msform .next{
    border:0 none;
    cursor:pointer;
    margin:10px 5px;
    display:inline-block;
   
    border-radius: 8px;
    max-width:260px;
    width:100%;
    text-align: center;
    color:#da9e56;
   /* background:#7e191f url(../images/img_btn.png) no-repeat;
    background-size:160px;
    background-position:center 12px;        */
	}
#msform .next_sec{
	margin-top:-80px;	
	}
/*
#msform .next:hover, #msform .next:focus {
	background:#9c3238 url(../images/img_btn.png) no-repeat;	
	background-size:160px;
    background-position:center 12px;
	}*/
#msform .previous{
	background:#7e191f url(../images/img_play.png) no-repeat;
	border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    box-shadow: none;
    background-size: 15px;
    background-position: center center;
    float: left;
    margin-top: -80px;
    z-index: 999;
    position: relative;	
	}
#msform .previous:hover{
	background:#9c3238 url(../images/img_play.png) no-repeat;	
	background-size:15px;
    background-position:center center;
	}

.backhomepage{
    background:#7e191f url(../images/img_play.png) no-repeat;
    border-radius:50%;
    width:65px;
    height:65px;
    border:none;
    box-shadow:none;
    background-size:15px;
    background-position:center center;
    float:left;   
    z-index:999;
    position:relative; 
    margin-top:10px;
    }
.backhomepage:hover{
    background:#9c3238 url(../images/img_play.png) no-repeat;   
    background-size:15px;
    background-position:center center;
    }





.fs-title {
	font-size:18px;
    color: #2C3E50;
    margin-bottom: 35px;
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
	text-align:left;
	}
h2.fs-title span {
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 32px;
    border: 1px solid #00b0ff;
    border-radius: 50%;
	text-align: center;
	}	
	
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom:30px;
    overflow:hidden;
    counter-reset:step;
    padding:0px;
    max-width:690px;
    float:left;
    width:100%;
    position:relative;
	}
#progressbar li {
	list-style-type: none;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    width: 33.33%;
    float: left;
    position: relative;
    padding-bottom: 50px;
	}
#progressbar li:before {
    content: counter(step);
    background:url(../images/img_notActive.png) no-repeat;
    counter-increment: step;
    width: 45px;
    line-height: 45px;
    display: block;
    color: #333;
    border-radius: 2px;
    margin: 0 auto 10px auto;
    font-size: 0px;
    background-size: 100%;
    bottom: -10px !important;
    position: absolute;
    left: 0px;
    right: 0px;	
	}
#progressbar li:after {
	content: '';
    width: 100%;
    height: 2px;
    background: #7b181e;
    position: absolute;
    left:0%;
    z-index: -1;
    bottom: 21px;
    }	

#progressbar li.active:before,  #progressbar li.active:after{
	color: white;
	}
#progressbar li.active:before{
	color: white;
	background:url(../images/img_active.png) no-repeat;
	background-size:100%;
	}

#msform .logo {
    max-width: 240px;
    text-align: left;
    float: left;
    margin-top: 25px;
    padding-right: 5px;    
	}
#msform .logo a{
    padding:0px;
    }
.box_gift {
    display: inline-block;
    float: right;
    margin-top: -118px;
    z-index: 1;
    position: relative;
    max-width: 220px;
    }
.box_giftCont a {
    border:2px solid #7b181e;
    border-radius:80px;
    display:block;
    padding:5px 25px;
    color:#fff;
    overflow:hidden;
    min-width:200px;
	}
.box_giftCont a span {
    display: block;
    font-size: 18px;
}

.box_giftCont a img {
    float: left;
    max-width: 35px;
    margin-top: 4px;
	}
.box_giftCont {
    display:inline-block;
    float:left;
    max-width:200px;
	}
.bx_select {
    width: 100%;
    display: inline-block;
    margin-top:0px;
    margin-bottom:0px;
	}
.box_giftCont h5 {
    text-align: right;
    font-size: 15px;
    color: #fff;
    line-height: 22px;
    margin: 3px 0px;
    }
a.img_gift.applied {
    background:#ffbd6e;
    }
.img_gift {
    background:#7d181e;
    width:60px;
    height:60px;
    display:inline-block;
    border-radius:50%;
    margin-left:10px;
	}
.img_gift img {
    width: 35px;
    padding-top: 10px;
	}

#progressbar li.active {
    color: #ffbd6e;
}

#progressbar li {
    color: #fff;
    font-weight: 600;
    text-transform:uppercase; 
	}
.bx_select h4 {   
    color:#fff;
    display:inline-block;
    margin:0px 0px 10px 0px;
    position:relative;  
    text-transform: uppercase;
    font-weight: 600;
        font-size: 16px;
    text-align: right;
	}
.bx_select .number-spinner{
    display:inline-block;
    border-radius:4px;
	}
.bx_select input.form-control.text-center {
    max-width:90px;
    height:35px;
    border:2px solid #7b181e;
    background:#dc1e32;
    box-shadow:none;
    float:left;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding-top: 5px;
	}
.bx_select .number-spinner span.input-group-btn {
	display: inline-block;
    width: 50px;
    float: left;
    margin-left: 0px;
    }
.bx_select .number-spinner span.input-group-btn button.btn.btn-default {
    width: 100%;
    border-radius: 0px;
    background: #7b181e;
    border: 0px;
    color: #000;
    min-height: 35px;
        font-size: 16px;
	}
.box_comb a {
    border:2px solid transparent;
    display: inline-block;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
	}
.comboselected .box_comb > a{
    border: 2px solid #ffbd6e;
    display: inline-block;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    }
.box_comb > a:hover {
    border: 2px solid #ffbd6e;
    display: inline-block;
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
	}
.box_comb a h3{
    color:#fff;
    margin:0px 0px 15px;
    text-decoration:none; 
    font-size:24px;
	}

.box_comb a h3 span{
	font-size:16px;
	}
.box_comb {
    padding:0px 25px 15px;
    margin-bottom:70px;
	}
.budstation_bg {
	background:url(../images/img_footerCom.jpg) no-repeat;	
	background-position:bottom center;  
    background-size:35%;
	}
.budstation_bgOne{
    background:url(../images/img_footerCom.jpg) no-repeat;  
    background-position:bottom center;  
    background-size:500px;
    padding: 30px 0px 30px;
    }

.box_poInhr .btn_bud {
    position:inherit;
	}
.mod_one{
	background:rgba(0, 0, 0, 0.55) !important;
	}
.mod_one .modal-dialog {
    max-width:1024px;
    width:100%;
    color:#fff;
    background:url(../images/bg_popup.png) no-repeat;		
	background-position: top center;
    background-size: 100%;
   margin-top:120px;
	}
.mod_one .modal-dialog .modal-content{
	background:none !important;	
	}	
.mod_one h5.modal-title {
	text-align:center;
	font-size:45px;
	font-weight:600;
    }
.mod_one .modal-header {
    border:none;
    }
.mod_one button.close {
    position: absolute;
    top:15px;
    right:15px;
    background:rgba(150, 20, 34, 0.55);
    width:40px;
    height:40px;
    border-radius:80%;
    color:#fff;
    opacity:1;
    font-size:30px;
    font-weight:400;
	}
button.select-venu {
    float: right;
    background: rgba(150, 20, 34, 0.55);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    position: absolute;
    right: 65px;
    top: 15px;
    }
p.sub_hd {
    width:100%;
    margin:0px auto;
    text-align:center;
    font-size:16px;
    max-width:670px;
    margin-bottom:15px;
	}
.bx_price {
    text-align:center;
	}
.bx_price h4{
    margin:20px 0px 35px;
    font-size:18px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
	}
.bx_selectprice h5 {
    font-size:16px;
	}
.bx_price h5 span {
    font-size:15px;
    display:block;
	}
.bx_poImg {
    height:160px;
    display:flex;
    align-items:center;
    justify-content:center;
	}
.bx_poImg img{
    max-height:140px;
	}
.bx_price h5{
    font-size:15px;
    line-height:20px;
	}
.mod_one .modal-body .col-md-4.col-sm-4 + .col-md-4.col-sm-4 .bx_poImg {
    border-left:2px solid #ad1c2a;
	}	


.wrapper-dropdown-3 {
	position: relative;
    margin: 0 auto;
    padding: 7px 15px;
    background: #b51c2a;
    border-radius: 6px;
    border: 2px solid #7b181e;
    box-shadow: none;
    cursor: pointer;
    outline: none !important;
    font-weight: bold;
    color: #fff;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    z-index:999;
    margin-bottom: 20px;
    }
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color:#ffffff transparent;
	}
.wrapper-dropdown-3 .dropdown {  
	    position: absolute;
    top: 125%;
    left: 0;
    right: 0;
    background: #b51c2a;
    border-radius: inherit;
    border: 2px solid rgb(123, 24, 30);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    padding: 0px;
	}
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color:#7b181e transparent;    
	}
.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
	}
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:#ffffff;
    border-bottom:2px solid #7b181e;    
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	}
.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
	}
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
	}
.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
	}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background:#dc1e32;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}




/* .squaredTwo */


.squaredTwo input[type=checkbox] {
    visibility: hidden;
	}
.squaredTwo {
	width:22px;
    height:22px;
    position: relative;
    background: #7b181e;
    border-radius:6px;
    padding-left: 15px;
	}
.squaredTwo label {
    width:18px;
    height:18px;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: #b51c2a;
    border-radius: 4px;
    float: left;   
	}
.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.squaredTwo label:after {
	content: '';
    width: 13px;
    height: 8px;
    position: absolute;
    top:3px;
    left:3px;
    border: 3px solid #7b181e;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
	}
.bx_lftScnd {
    background:#b51c2a;
    padding:15px 15px 0px;
    border-radius:8px;
    max-height:410px;
    min-height:410px;
	}
.wrapper-dropdown-3:before {
    content: "";
    width: 40px;
    height: 36px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #7b181e;
	}
ul.list_checkBox {
     list-style: none;
    padding: 0px;
    display: inline-block;
    width: 100%;
	}
ul.list_checkBox li {
    width:31.30%;
    text-align:left;
    display:inline-block;
    min-height:40px;
    float:left;
    overflow:hidden;
    margin-right:2%;   
	}
.squaredTwo label span {
    margin-left:30px;
    color:#fff;
    white-space: nowrap;
    font-size: 13px;
	}
ul.list_img_thumb li {
    width:70px;
    float:left;
    border:2px dashed #7e191f;
    border-radius:6px;
    height:70px;
    margin-right:10px;
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;   
	}
ul.list_img_thumb li.active{
    border:2px solid #7e191f;
	}
ul.list_img_thumb {    
    padding:0px;
    list-style:none;
    display:inline-block;
    width:100%;
    text-align:center;
    min-height:70px;
	}
.box_mainThmb {
    display: inline-block;
    text-align: center;
        padding-left: 25px;
	}
ul.list_img_thumb li h5 {
    font-size: 42px;
    color: #7b181e;
    font-weight: 500;
	}
ul.list_img_thumb li span {
    position: absolute;
    background: #7b181e;
    width: 24px;
    height: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 300 !important;
    border-radius: 50%;
    top: -10px;
    right: -10px;
	}
ul.list_img_thumb li span .fa {
    font-weight: 100 !important;
    line-height: 22px;
	}
ul.list_img_thumb li img {
    border-radius: 6px;
	}
	.box_mainThmb H4 {
    color: #fff;
    margin: 15px 0px;
    font-size: 19px;
    }














.bx_rigtScnd {
    background:#b51c2a;
    padding:15px 10px 15px 15px;
    border-radius:8px;
    display:inline-block;
    width:100%;
    max-height:410px;
    min-height:410px;  
	}
.bx_rigtScnd .mCSB_scrollTools .mCSB_draggerContainer {
    right:4px;    
    }
.bx_rigtScnd .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {    
    background-color:#7b181d;
    height:180px;
    }
.bx_rigtScnd .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color:#7b181d;
    }
.bx_rigtScnd .mCSB_scrollTools .mCSB_draggerRail {
    width:0px;
    }
table.bx_tbl{
	width:100%;
	border-collapse:collapse;
	float: left;
	}
table.bx_tbl:last-of-type{
	margin:0px;
	}
table.bx_tbl th{
	text-align:left;
	}
table.bx_tbl tbody tr.selected {
    background:none;
	}
.bx_htl {
    background: #a31926;
    border: 1px solid #7e181f;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
	}
.bx_htl .img_htl {
    max-width: 100px;
    float: left;
    border-radius: 4px;
    overflow: hidden;
}

.bx_htl .img_htl img {
    width: 100%;
	}
.bx_htlText {
    width: calc(100% - 120px);
    float: right;
    padding-right: 10px;
	}
.bx_mainText h4 {
    font-size: 18px;
    display: inline-block;
    float: left;
}

.bx_mainText {
    display: inline-block;
    width: 100%;
}

.bx_mainText h5 {
    float: right;
}


ul.list_icon {
    list-style: none;
    padding: 0px;
}

ul.list_icon li {
    display:flex;
    align-items:center;
    float:left;
    margin-right:10px;
    min-height:25px;
	}
ul.list_icon li img {
    max-width: 32px;
    margin-right: 10px;
	}
.bx_subText {
    margin-bottom: 10px;
	}
.bx_tbl, .bx_tbl tr, .bx_tbl td, .bx_tbl tr td {
    border: none !important;
    vertical-align: middle !important;
    padding: 0px !important;
	}
ul.list_icon li + li {
    border-left: 2px solid #b54751;
    padding-left: 10px;
	}
.bx_tbl .squaredTwo {
    margin-bottom:15px;
    margin-right:5px;
	}
.bx_imgPop {
    max-width:70px;
    border-radius:6px;
    overflow:hidden;
    float:left;
	}
.bx_hdPop {
    text-align:left;
    width:calc(100% - 85px);
    float:right;
	}
.bx_hdPop h5 {
    text-align: left !important;
    font-size: 28px !important;
	}
.mod_menu .modal-header {
    display: inline-block;
    width: 100%;
	}
.content_text h1 {
    font-size: 60px;
    margin-bottom: 25px;
    }
.content_text p.sub_hd {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    }
.content_text{
    color:#fff;
    }
.content_text .col-md-4.col-sm-4 + .col-md-4.col-sm-4 .bx_poImg {
    border-left: 2px solid #ad1c2a;
    }
.main_trdBx {
    color: #fff;
    background: #b51c2a;
    border-radius: 6px;
    padding: 15px;
    }
.main_trdBx h3 {
    margin: 0px 0px 15px;
    font-size: 20px;
    border-bottom: 2px solid #7d181e;
    padding-bottom: 10px;   
    }
ul.main_trdList {
    height: 300px;
    overflow: auto;
    list-style: none;
    padding: 0px 10px 0px 0px;
    margin-bottom: 0px;   
    }
.main_bxTrd {
    min-height:550px;
    }
ul.sb_trdList {
    text-align:left;
    list-style:decimal;
    padding-left:45px;   
    margin-bottom:20px;
    }
ul.sb_trdList li{
    font-family: 'Helvetica';
    }
.main_trdList h5 {
    text-align:left;    
    font-size:15px;
    margin-bottom:5px;
    margin-left:-15px;
    font-family: 'HelveticaBold';  
    font-weight: normal;  
    }
.main_trdList .squaredTwo label span{    
    color: #7b181e;
    font-size: 20px;
    line-height: 20px;
    font-family: 'HelveticaBold';    
    font-weight: normal;
    }
.main_trdBx .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width:8px;
    height:200px;
    }
.main_trdBx .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#7b181e;
    }
.main_trdBx .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color:#7b181e;
    }
.main_trdBx .mCSB_scrollTools .mCSB_draggerRail {
    width:0px;
    }
.box_comb > a {
    color:#fff;
    font-size:24px;
    text-decoration:none; 
    }
.combo_price span {
    font-size:15px;
    }
.combo_price {
    margin-bottom: 10px;
    }
.bx_select .number-spinner label#people-error {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0px;
    font-size: 12px;
    }
.bx_select .number-spinner span.input-group-btn + span.input-group-btn button.btn.btn-default {
    border-radius: 0px 4px 4px 0px;
    }
.f_nameOne input {
    border: 2px solid #7b181e;
    background: #dc1e32;    
    box-shadow: none;
    min-height:55px;
     color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding:10px;
    z-index: 0 !important;
    }
.f_nameOne {
    margin-bottom: 15px;
     font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    }
.f_name {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    }


.f_nameOne input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    }
.f_nameOne input::-moz-placeholder { /* Firefox 19+ */
     color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    }
.f_nameOne input:-ms-input-placeholder { /* IE 10+ */
     color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    }
.f_nameOne input:-moz-placeholder { /* Firefox 18- */
     color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    }
.f_nameOne textarea {
    border:2px solid #7b181e;
    background:#dc1e32;    
    box-shadow:none;   
    color:#fff;
    font-size:15px;
    font-weight:600;
    text-transform:uppercase;
    border-radius:4px;
    width:100% !important;
    min-height:100px;
    }
.f_nameOne {
    width:100%;
    }
.f_nameOne .input-group-addon{
    color:#fff !important;    
    background-color:#dc1e32 !important;
    border:2px solid #7b181e !important;
    }
.order_conf .logo {
    text-align:left;
    }
.order_conf .logo a {
    padding:0px;
    margin-bottom:5px;
    }
.main_bxOrder > h4{
    font-size:26px;
    color:#fff;
    margin:0px 0px 15px;
    text-transform:uppercase;
    font-weight:600;
    }
.sb_order {
    background:#fff;
    padding:15px 15px 0px;
    color:#000;
    font-family: 'Helvetica';
    }
.ord_name h5 strong{
    font-family: 'HelveticaBold';
    }
.logo_order {
    max-width:300px;
    }
.ord_date {
    text-align: right;
    }
.ord_date h4 {
    font-weight: 600;
    margin: 5px 0px 0px;
    }
.ord_name {
    border-top: 2px solid #000;
    padding-top: 20px;
    }
.ord_date h5 {
    margin-top: 5px;
    }
.ord_name h5 {
    margin-top: 0px;
    font-size: 16px;
    }
ul.sb_trdListOne {
    text-align: left;
    list-style: decimal;
    padding-left: 45px;
    margin-bottom: 20px;        
    }
.ord_menu h3 {
    font-size: 20px;
    margin-top:10px;
    margin-bottom:5px;
    font-family: 'HelveticaBold';    
    }
ul.list_ordMenu {
    list-style: none;
    padding: 0px;
    display: inline-block;
    min-height:240px;
    font-family: 'HelveticaBold';
    }
ul.sb_trdListOne {
    text-align: left;
    list-style: decimal;
    padding-left:20px;
    margin-bottom:15px;
    width: 50%;
    float: left;
    }
ul.sb_trdListOne h5 {
    margin-left: -15px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'HelveticaBold';  
    }
ul.list_ordMenu li > h5 {
    font-size: 15px;
    font-weight: 600;
    }
.container.order_conf {
    max-width: 1270px;
    width: 100%;
    }
h4.hd_ord {
    border-bottom:2px solid #7f7f7f;
    margin-bottom:20px;
    font-family: 'HelveticaBold';    
    }
.box_ordLeft {
    margin-top: 45px;
    }
.ord_tot {
    border-top: 2px solid #000;
    padding-top: 10px;
    }

.ord_cart {
    width:40px;
    float: left;
}

.ord_cartText {
    width:calc(100% - 50px);
    float: right;
    text-align: right;
}

.box_ordCont h5 {
    width: 100%;
    display: inline-block;
        font-weight: 700;
}

.ord_cartText h5 {
    margin-top: 0px;
        font-weight: 600;
}

.ord_cartText span {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.box_ordCont {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.main_bxOrder {
    margin-bottom: 25px;
}

.del_bx a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.del_bx {
    text-align: right;
    margin-top: 10px;
}

.del_bx a .fa {
    font-size: 25px;
    margin-left: 5px;
}
.img_htlPop {
    max-width: 70px;
    float: left;
    border-radius: 4px;
    overflow: hidden;
}

.bx_mainTextPop {
    width: calc(100% - 85px);
    float: right;
    padding-right: 10px;
}

.bx_htlPop {
    width: 100%;
    display: inline-block;
}

.bx_mainTextPop h4 {
    font-size: 36px;
    margin: 0px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    }


.bx_tabMenu .nav-tabs>li.active>a, .bx_tabMenu .nav-tabs>li.active>a:hover, .bx_tabMenu .nav-tabs>li.active>a:focus {
    color:#fff;
    cursor:default;
    background:none;
    border:none;
    border-bottom:2px solid #ffbd6e;
    text-transform:uppercase;
    }
.bx_tabMenu .nav-tabs>li { 
    width:33%;
    }
.bx_tabMenu .nav-tabs>li>a {
    border:none;
    text-align:center;
    font-size:20px;
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    height: 51px;
    }
.bx_tabMenu .nav-tabs {
    border-bottom:1px solid #7e181f;
    }
.bx_tabMenu .nav>li>a:hover, .nav>li>a:focus {    
    background:none !important;
    border-bottom:2px solid #ffbd6e !important;
    }
.bx_tabMenu {
    display:inline-block;
    width:100%;
    }
.bx_popVright ul.list_icon {
    display:inline-block;
    width:100%;
    }
.bx_popVright h4 {
    margin-top:0px;
    margin-bottom:20px;
    }
.bx_popVright ul.list_icon li {
    margin-bottom:15px;
    }
#venueModal .modal-dialog {
    margin-top:50px;
    }

.thankyou_bg{
    background:url(../images/bg_thanku.jpg) no-repeat;
    background-size:cover;
    background-position:100%;
    height: 100%;
    }

/*.box_main_thank{
    background:url(../images/bg_thanku.jpg) no-repeat;
    background-size:cover;
    background-position:100%;
    height: 100%;
    }*/

.bx_thnkLeft{
        background: url(../images/bg_socialFirst.jpg) no-repeat;
       background-size: 100%;
    background-position: 100%;
    height: 100%;
    max-width: 400px;
    float: right;
    padding: 20px 20px 45px 40px;
    min-height: 340px;
    position: relative;
        width: 100%;
    }
.bx_hdTh {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 20px 0px 35px;
    }
.bx_hdTh h2 {
    font-size:70px;
    font-weight:600;
    margin-top:0px;
    }
.bx_hdTh p {
    font-size:18px;
    font-weight:600;
    }
.bx_leftCont h4 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
    }
.bx_leftCont {
    text-align: center;
    color: #fff;
    }
.bx_leftCont p {
    font-size: 18px;
}

.bx_thnkLeft a.bx_htLine {
    position: absolute;
    background: rgba(125, 26, 30, 0.95);
    width: 100%;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 0px 6px 6px;
        padding: 4px 0px 5px;
        
            justify-content: center;
    align-items: center;
    display: flex;
}





  .swiper-container {
     width: 100%;
     height: 300px;
     margin-left: auto;
     margin-right: auto;
   }
   .swiper-slide {
     background-size: cover;
     background-position: center;
   }
.gallery-top {
    height: 80%;
    width: 100%;
   }
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    }
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
   }
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
   }
a.bx_htLine img {
    max-width: 35px;
    display: inline-block;
    margin-right: 10px;
    }
.htLine {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-align: left;
    font-weight: 600;
    }
.htLine span {
    display: block;
    font-size: 14px;
    color: #ffbd6e;
    }
.bx_thnkRight {
    float:left;
    background:rgba(125, 26, 30, 0.4);
    border-radius:6px;
    }
.box_main_thank .btn_bud {
    position:inherit !important;
    margin:25px 0px;
    bottom:0px;
    }
.box_main_thank .budstation_bg {
    background: url(../images/thanku_footerBG.jpg) no-repeat;
    background-position: bottom center;
    background-size: 500px;
    }

.container {
    max-width: 1920px !important;
    width: 100% !important;
}

.bx_cap {
    text-align: center;
    position: relative;
    max-width: 1920px;
    display: inline-block;
    width: 100%;
    height: 150px;
    }
.bx_cap img {
    width:26%;
    position:absolute;
    left:0px;
    right: 0px;
    display: inline-block;
    margin: 0px auto;
    top: -80px;
    } 

.bx_select_range .range h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0px;
    line-height: 22px;
    }
.bx_select_range {
    margin: -40px 0px 35px;
    }
.countPeople {   
    border:2px solid #7b181e;
    color:#fff;
    font-weight:600;
    font-size:18px;
    padding:5px 15px;
    max-width:210px;
    }
ul#progressbar:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 16px;
    background: #7b181e;
    right: 0px;
    bottom: 14px;
    }
.box_gift_second {
    display:inline-block;
    float:right;
    margin-top:-92px;
    z-index:1;
    position:relative;
    max-width:220px;
    }
.menu-price-total {
    display:inline-block;
    width:100%;    
    font-size:15px;
    border-top:1px solid #7e181f;
    padding-top:10px; 
     font-family: 'HelveticaBold';   
    }
.menu-price-total p {
    margin-bottom:5px;
    }
.venue_details .modal-body {
    padding-top:0px;
    }
.menu-price-total p span.price-tlt {
    width: 50%;
    float: right;    
    font-family: 'Helvetica';
    }
.box_gift2 {
    padding:0px 30px;
    display:inline-block;
    width:100%;
    margin-bottom:15px;
    }





.box_giftCont2 a {
    border: 2px solid #7b181e;
    border-radius: 80px;
    display: block;
    padding: 5px 25px;  
    color: #fff;
    overflow: hidden;
    max-width: 220px;
     font-family: 'Helvetica';
}

.box_giftCont2 a img {
    float: left;
    max-width: 35px;
    margin-top: 4px;
}

.box_giftCont2 a span {
    display: block;
    font-size: 18px;
     font-family: 'HelveticaBold';
}

.box_giftCont2 {
    display: inline-block;
    float: left;
}

.box_gift2 a.img_gift {
    float: right;
    margin-left: 0px;
    display: inline-block;
}

.box_gift2 {
    padding: 0px 30px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    }
.squaredTwo input[type=radio] {
    visibility: hidden;
    }


.squaredTwo input[type=radio]:checked + label:after {
    opacity: 1;
}


ul.main_trdList li .price {
    font-size: 16px;
    font-weight: 600;
    color: #7d181e;
    float: right;
    margin-top: -25px;
}





ul.main_trdList::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    border-radius:10px;
    background:transparent;
}

ul.main_trdList::-webkit-scrollbar
{
    width:8px;
    background:transparent;
}

ul.main_trdList::-webkit-scrollbar-thumb
{
    border-radius:6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
   background-color: #7d181e;
   height:160px;
}






.abd::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    border-radius:10px;
    background:transparent;
}

.abd::-webkit-scrollbar
{
    width:8px;
    background:transparent;
}

.abd::-webkit-scrollbar-thumb
{
    border-radius:6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
   background-color: #7d181e;
   height:160px;
}



.abd {
    padding-right: 10px;
    display: inline-block;
    width: 100%;
    max-height: 390px;
    min-height: 390px;
    overflow: auto;
}


.bx_popVenue #carousel {
    margin: 0px;
}

.bx_popVenue #carousel .item img {
    max-height: 260px;
    border-radius: 8px;
}

.bx_popVenue #thumbcarousel {
    margin-top: 10px !important;
}
.bx_popVenue #thumbcarousel .thumb {
    width: 25%;
    border-radius: 14px !important;
    overflow: hidden;
    padding-right: 10px;
}
.bx_popVenue #thumbcarousel .thumb img {
    border-radius: 8px;
}
.bx_popVenue #thumbcarousel .carousel-control {
    background: none;
}


.box_ordCont {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.ord_menu .col-md-4 + .col-md-4 {
    border-left: 1px solid #7f7e7e;
}

ul.sb_trdListOne li {
    font-size: 12px;
     font-family: 'Helvetica';
}

.submitbtn{
    display:inline-block;
    width:100%;
    text-align: center;
}
.bx_thnkRight .bx_leftCont img {
    max-width: 180px;
    margin-top: 65px;
}

.bx_mainTextPop p {
    font-family: 'Helvetica';
    }
.bx_popVright ul.list_icon li span {
    font-family: 'Helvetica';
    }       





@media screen and (min-width: 1600px) {

    html body .offerbtn {
        background: url(../images/btn_offer.png) no-repeat;
        display: inline-block;  
        border-radius: 8px;
        max-width: 419px;
        width: 100%;
        height: 113px;
        background-size: 100%;
    }
    .home_bg .btn_bud a {
        max-width: 407px;
        height: 113px;
    }
}

@media screen and (min-width: 1700px) {

.logo a {
    margin: 50px 0px;   
    width: 100%;
}
.main_hd h1 span img {
    max-width:48%;
}
.bx_cap img {
    width:31%;    
    } 
.home_bg .home_main{
    background-size:22%;    
    }
}

@media screen and (max-width: 1550px) {
    .home_bg .home_main {    
        background-size: 18%;
    }
}

@media screen and (max-width: 1300px) {

    .main_hd h1 span img {
        max-width:43%;
    }
    .bx_cap img {
        width: 30%;
    }
    .logo a {
        width: 30%;
    }

}


